# NPM
node_modules
.parcel-cache
dist

# Env
.env.local

# App config
src/config.ts
src/styles.ts

# IFC
public/web-ifc.wasm

# We should stop putting data in there
public/cityjson
public/geojson
public/ifc
public/ply
public/shp
