@import './base.css';

@import 'shepherd.js/dist/css/shepherd.css';
@import '@tarekraafat/autocomplete.js/dist/css/autoComplete.02.css';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-weight: normal;
}

@import 'bootstrap/scss/bootstrap';
$bootstrap-icons-font-dir: 'bootstrap-icons/font/fonts';
@import 'bootstrap-icons/font/bootstrap-icons';

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/utilities';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.layers-list-group {
  @extend .list-group;
  @extend .list-group-flush;
}

.button-area {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem;
}

.disabled {
  opacity: 0.5;
}

.dropzone {
  @extend .text-center;
  border: var(--bs-border-width) dashed var(--bs-border-color) !important;
}

@import 'bootstrap/scss/utilities/api';
